LISTENING_PORT=443
TLS_LISTENING_PORT=443
ALT_LISTENING_PORT=3478
ALT_TLS_LISTENING_PORT=3478

LISTEN_IPS="##FIRST_IP## ##SECOND_IP##"

TLS_CERT=/srv/turnserver.crt
TLS_KEY=/srv/turnserver.key

RELAY_IP=##FIRST_IP##

STATIC_AUTH_SECRET=##SECRET##

REALM=myturnserver

VERBOSE=1
LOG_FILE=/srv/turnserver.log

