LISTENING_PORT=3478
TLS_LISTENING_PORT=5349
ALT_LISTENING_PORT=3479
ALT_TLS_LISTENING_PORT=5350

LISTEN_IPS="##FIRST_IP## ##SECOND_IP##"

RELAY_IP=##FIRST_IP##

LONG_TERM_CREDENTIALS=1
STATIC_AUTH_SECRET=##SECRET##

TLS_CERT=/srv/cert.pem
TLS_KEY=/srv/pkey.pem

NO_CLI=1

WEB_ADMIN=0

REALM=myturnserver

VERBOSE=1
DEBUG=0
PROD=1

USER_DB=/srv/turnserver/db/turndb.sqlite
LOG_FILE=/srv/turnserver/logs/turn.log
PID_FILE=/srv/turnserver/turn.pid

