LISTENING_PORT=443
TLS_LISTENING_PORT=443
ALT_LISTENING_PORT=3478
ALT_TLS_LISTENING_PORT=3478

LISTEN_IPS="##FIRST_IP## ##SECOND_IP##"

RELAY_IP=##FIRST_IP##

STATIC_AUTH_SECRET=##SECRET##

TLS_CERT=/srv/cert.pem
TLS_KEY=/srv/pkey.pem

WEB_ADMIN=1

REALM=myturnserver

VERBOSE=0
DEBUG=0
PROD=1

NO_CLI=1

USER_DB=/srv/turnserver/db/turndb.sqlite
LOG_FILE=/srv/turnserver/logs/turn.log
PID_FILE=/srv/turnserver/turn.pid

